<h1> Datos del paciente </h1>
        <p>
            <strong># Paciente </strong>
            <%= @patients.id_patient %>
        </p>

        <p>
            <strong>Primer Nombre</strong>
            <%= @patients.patient_firstname %>
        </p>
    
        <p>
            <strong>Segundo Nombre</strong>
            <%= @patients.patient_middlename %>
        </p>

        <p>
            <strong>Apellidos</strong>
            <%= @patients.patient_lastname %>
        </p>

        <p>
            <strong>Direccion</strong>
            <%= @patients.address %>
        </p>

        <p>
            <strong>Motivo de Consulta</strong>
            <%= @patients.reason_of_consultation %>
        </p>